# Ignore everything in the same directory as the .gitignore file
/*

# But not these files...
!.idea/
!.vscode/
!.clang-format
!.gitignore
!base.h
!binary_search.h
!CMakeLists.txt
!gen.py
!number_theory.h
!polynomial_hash.h
!README.md
